.sectionCard {
    color: white;
    display: block;
}

.sectionItem {
    color: white;
    display: block;
    border: 1px rgb(49, 49, 49) solid;
    height: auto;
    margin: 2rem;
    padding: 2rem;
}

    


