footer {
  background: #000; 
  height: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  border-top: 1px #837569 solid;
  color: white;
  font-size: 0.9rem;
  text-align: center;
}